// Place all the styles related to the tua7 controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
textarea
{
	  overflow-x: scroll;
	  overflow-y: hidden;
	  width: 100%;
	  height: 10000px;
	  
}
table
{
	width:100%;
}
td.行號 
{
	width:2em;
}